@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 8px 22px 10px rgba(139, 139, 139, 0.1),
      10px -4px 16px rgba(116, 116, 116, 0.1);
  }

  .home-height {
    margin-bottom: -32rem;
  }
}

/* StarRating.css */
.star-rating {
  font-size: 24px;
}

.star {
  cursor: pointer;
  color: #ddd;
  transition: color 0.2s;
}

.star:hover {
  color: #f8d64e; /* Color when hovered */
}

.star.selected {
  color: #f8d64e; /* Color for selected stars */
}
